<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>CareMeToo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/libs/jquery/jquery.js"></script>
    </head>
    <body>
        <div id="main-bar">
            <span id="main-bar-title">
                CareMeToo

            </span>
            <span id="account">
                Login:
            </span>
            <span id="account">
                API
            </span>
        </div>
	<div>Lvl 0</div>
    <select id="sel_lv0">
        <option>n2/n2_sample/1425405680330/</option>
        <option>n2/n2_1/1425406094608/</option>
        <option>n2/n2_2/1425407232389/</option>
        <option>n2/n2_2/1425408677098/</option>
        <option>n3/n3_sample/1425409979748/</option>
        <option>n3/n3_1/1425410684040/</option>
        <option>n3/n3_2/1425411806445/</option>
        <option>n3/n3_3/1425413219572/</option>
        <option>n4/n4_sample/1425424011391/</option>
        <option>n4/n4_1/1425424406612/</option>
        <option>n4/n4_2/1425425734089/</option>
        <option>n4/n4_3/1425427210413/</option>
        <option>n5/n5_sample/1425492334386/</option>
        <option>n5/n5_1/1425492729555/</option>
        <option>n5/n5_2/1425494040887/</option>
        <option>n5/n5_3/1425495483937/</option>
        <option>n6/n6_sample/1425518091729/</option>
        <option>n6/n6_1/1425518500874/</option>
        <option>n6/n6_2/1425519830146/</option>
        <option>n6/n6_3/1425521315634/</option>
        <option>n7/n7_sample/1425684948845/</option>
        <option>n7/n7_1/1425685387543/</option>
        <option>n7/n7_2/1425686709300/</option>
        <option>n7/n7_3/1425688159174/</option>
        <option>n8/n8_sample/1425922143000/</option>
        <option>n8/n8_1/1425922672389/</option>
        <option>n8/n8_2/1425923390965/</option>
        <option>n8/n8_3/1425924781341/</option>

    </select>
    <div>lvl 1</div>
    <select id="sel_lv1">
        <option>n2/n2_sample/1425405680330/</option>
        <option>n2/n2_1/1425406094608/</option>
        <option>n2/n2_2/1425407232389/</option>
        <option>n2/n2_2/1425408677098/</option>
        <option>n3/n3_sample/1425409979748/</option>
        <option>n3/n3_1/1425410684040/</option>
        <option>n3/n3_2/1425411806445/</option>
        <option>n3/n3_3/1425413219572/</option>
        <option>n4/n4_sample/1425424011391/</option>
        <option>n4/n4_1/1425424406612/</option>
        <option>n4/n4_2/1425425734089/</option>
        <option>n4/n4_3/1425427210413/</option>
        <option>n5/n5_sample/1425492334386/</option>
        <option>n5/n5_1/1425492729555/</option>
        <option>n5/n5_2/1425494040887/</option>
        <option>n5/n5_3/1425495483937/</option>
        <option>n6/n6_sample/1425518091729/</option>
        <option>n6/n6_1/1425518500874/</option>
        <option>n6/n6_2/1425519830146/</option>
        <option>n6/n6_3/1425521315634/</option>
        <option>n7/n7_sample/1425684948845/</option>
        <option>n7/n7_1/1425685387543/</option>
        <option>n7/n7_2/1425686709300/</option>
        <option>n7/n7_3/1425688159174/</option>
        <option>n8/n8_sample/1425922143000/</option>
        <option>n8/n8_1/1425922672389/</option>
        <option>n8/n8_2/1425923390965/</option>
        <option>n8/n8_3/1425924781341/</option>
    </select>
    
    <div>lvl 2</div>
    <select id="sel_lv2">
        <option>n2/n2_sample/1425405680330/</option>
        <option>n2/n2_1/1425406094608/</option>
        <option>n2/n2_2/1425407232389/</option>
        <option>n2/n2_2/1425408677098/</option>
        <option>n3/n3_sample/1425409979748/</option>
        <option>n3/n3_1/1425410684040/</option>
        <option>n3/n3_2/1425411806445/</option>
        <option>n3/n3_3/1425413219572/</option>
        <option>n4/n4_sample/1425424011391/</option>
        <option>n4/n4_1/1425424406612/</option>
        <option>n4/n4_2/1425425734089/</option>
        <option>n4/n4_3/1425427210413/</option>
        <option>n5/n5_sample/1425492334386/</option>
        <option>n5/n5_1/1425492729555/</option>
        <option>n5/n5_2/1425494040887/</option>
        <option>n5/n5_3/1425495483937/</option>
        <option>n6/n6_sample/1425518091729/</option>
        <option>n6/n6_1/1425518500874/</option>
        <option>n6/n6_2/1425519830146/</option>
        <option>n6/n6_3/1425521315634/</option>
        <option>n7/n7_sample/1425684948845/</option>
        <option>n7/n7_1/1425685387543/</option>
        <option>n7/n7_2/1425686709300/</option>
        <option>n7/n7_3/1425688159174/</option>
        <option>n8/n8_sample/1425922143000/</option>
        <option>n8/n8_1/1425922672389/</option>
        <option>n8/n8_2/1425923390965/</option>
        <option>n8/n8_3/1425924781341/</option>
    </select>
	</br>
	<button id="button">Classify</button>
	<div id="">
    		Results:
		%%%checkboxes%%%
	</div>
    </body>

    <script>
	$("#button").click( function(){
		var _sel0 = $("#sel_lv0").val();
		var _sel1 = $("#sel_lv1").val();
		var _sel2 = $("#sel_lv2").val();
		
		window.location = "ml?file_a=data/"+_sel0+"&file_b=data/"+_sel1+"&file_c=data/"+_sel2;
	});
        $("#account").click( function(){
           alert("yikes! Welcome Back");
        });
        
    </script>

</html>
