<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>CareMeToo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/libs/jquery/jquery.js"></script>
    </head>
    <body>
        <div id="main-bar">
            <span id="main-bar-title">
                CareMeToo

            </span>
            <span id="account">
                Login:
            </span>
            <span id="account">
                API
            </span>
        </div>
        <div id="main-wrapper-left">
            <div id="mainTitle">Care Me Too</div>

        </div>
        <div id="main-wrapper-right">
            <div id="mainImage">
                <img src="img/caremetoo_big.png" alt="caremetoologo"/>
            </div>
        </div>
    </body>

    <script>
        $("#account").click( function(){
           alert("yikes! Welcome Back");
        });
        
    </script>

</html>
